body {
	background-image: url("../images/background.jpg") ;
}

#main-header {
	font-family: 'Monoton', cursive;
	padding: 2rem;
	background-color: transparent;
	color: #e79917;
}

#train {
	width: 12rem;
	height: auto;
}

#sch-header, #add-header, button, #banner {
	background-color: #7b1580;
	
}

#current-schedule, #add-train {
	
}

